body {
	font-family: Verdana, Arial, sans-serif;
	background: rgba(255, 213, 213, 0.8);
	font-size: 18px;
	margin: 0;
}
.wrapper {
	max-width: 1000px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

h1{
 text-align: center;
 color: red;
 font-family: 'Montserrat Alternates', sans-serif;
}
header{
padding:30px;
grid-area: kopf;
background-color: rgba(255, 213, 213, 0.8);
background-position:center;
background-attachment:scroll;
background-size:cover;
display:flex;
justify-content:space-between;
color:white;
}
header nav {
	position: absolute;
	right: 0;
	top: 0;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a {
	color: #5c6971;
	line-height: 100px;
	display: block;
	padding: 0 20px;
	text-decoration: none;
}
header nav ul li:hover a {
	background: #e2001a;
	color: #fff;
}

.image-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-row img {
    width: 23%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-row img:hover {
    transform: scale(1.05);
}

.h2-row{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

h2{
	color: red;
}
